* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  color: black;
  font-family: 'Merriweather', serif;
  background-color: rgba(199, 108, 108, 0.7);
}
.header {
  text-align: center;

}
.header > h1 {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 20px 15px;
     margin: 0;
     font-size: 20px;
     text-transform: uppercase;
}
.container {
    background-color: #8b7878;
    padding: 15px 12px;
    margin: 10px;
}

.hr {
    border: 3px solid black;
}
.hr + hr {
    border: 1px solid black;
}
fieldset {
    border: none;
}
legend {
    font-weight: bold;
    font-size: 20px; 
    margin-bottom: 10px; 
    margin-left: -2px; 
    padding: 0;
}
.legend {
    margin-bottom: -10px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    height: auto;
    padding: 15px;
    background-color:  rgba(209, 72, 72, 0.2);
    -webkit-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
    border: none;
    outline: 0; 
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
    resize: vertical;
}
input[id="zcode"] {
 width: 50%;
}
#topics {
    color: black;
    border-radius: 5px;
}
::placeholder {
 color: white;
 float: right;
}
textarea::placeholder {
    color: black;
    float: left;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0px 4px 12px 0;
} 
button {
    width: 100%;
    background-color: rgba(37, 68, 206, 0.4);
    font-size: 20px;
    padding: 20px;
    color: white;
    border-radius: 10px;
    border: none;
}
button:hover {
    background-color: rgba(37, 68, 206, 1);
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  background-color: rgba(209, 72, 72, 1);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 650px;
        margin: 0px auto;

    }
    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
      }
 
 .row {
    display: flex;
 }
 .right {
    flex: 70%;
    margin-bottom: -20px;
 }
 .left {
     align-self: center;
     flex: 30%;
 }
 input[id="zcode"] {
    width: 25%;
   }
 hr {
     width: 640px;
 }
}
